{% extends "base.html" %}
{% load static %}

{% block title %}Projects List{% endblock %}

{% block additional_nav %}
    <li><a href="{% url 'warehouse:home_warehouse' %}">Warehouse Home</a></li>
{% endblock %}

{% block page_heading %}All Projects{% endblock %}

{% block content %}
    <ul>
        {% for project in projects %}
            <li>
                {{ project.project_name }} - {{ project.project_location }}
                <a href="{% url 'warehouse:project_detail' project.project_id %}">
                    <button>View Inventory</button>
                </a>
            </li>
        {% empty %}
            <li>No projects available.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'warehouse:home_warehouse' %}">Back to Home</a>
{% endblock %}
